temp_dir/
datasets/*.csv
cvelist.json
*.pyc
.vscode/settings.json
*.obj
*.exe
*.asm
venvs/
venv/
SAFETorch/SAFEtorch/
SAFETorch/radare2
.vscode/
radare2/
SAFETorch/list_expid_cves.txt
SAFETorch/Malwarebazaar/
Scrapers/source/
Scrapers/*.pt
datasets/handrafted_malware/
datasets/pocs/
datasets/permutations/exes
datasets/